body {
    font-family: Arial, Helvetica, sans-serif;
}

.test {
    background-color: red;
}

.box-1 {
    background-image: linear-gradient(to top right, #f75169, #ffc0cb);
}

.hero-img {
    background-size: cover;
    background-position: center;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    padding: 0 20px;
}

