* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url(../images/candles-at-dusk.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    display: flex;
    width: 100vw;
    min-height: 100vh;
    flex-direction: column;

}

header {
    width: 100%;
    margin: 30px;
    color: white;
    font-family: 'Righteous', cursive;
    font-size: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}
header nav ul {
    list-style: none;
    text-align: right;
    margin-right: 70px;
}

header nav ul li {
    margin: 10px;
    display: inline-block;
    font-size: 20px;
}

header nav ul li a {
    color: white;
    font-size: 20px;
    width: 100px;
    display: block;
    text-align: center;
}

header nav ul li a:hover {
    font-size: 20px;
    text-decoration: underline;
    color: rgb(255, 0, 140);;
}

.login {
    padding: 10px 20px;
    font-size: 20px;
    color: rgb(255, 0, 140);
    background-color: white;
    border-radius: 5px;
    border: none;
    margin-left: 15px;
    cursor: pointer;
    font-family:Arial, Helvetica, sans-serif;

}
.login:hover {
    transform: scale(1.1); 
    transition: all .2s ease-in-out; 
}

.container-section {
    margin: 60px;
}


.slogan-div {
    text-align: center;
    margin-top: 100px;
}

.slogan {
    margin: 10px;
    color: white;
    font-family: 'Righteous', cursive;
    font-size: 60px;
    font-style: italic;
    text-shadow: 1px 2px #00313f;
}

.slogan2 {
    font-size: 50px;
    color: white;
    font-style: italic;
    text-shadow: 1px 2px #00313f;
}

.btn-div {
    text-align: center;

}

.download-btn {
    margin-top: 40px;
    padding: 20px 35px;
    border-radius: 25px;
    color: white;
    background-image: linear-gradient(to right, rgb(255, 0, 140), #c55326);
    cursor: pointer;
    font-family:Arial, Helvetica, sans-serif;
    font-size: 20px;
    border: none;
    
}
.download-btn:hover {
    transform: scale(1.1); 
    transition: all .2s ease-in-out; 
}


footer {
        position: fixed;
        bottom: 0;
        color: white;
    }

}



/* MEDIA QUERIES */
@media screen and (max-width: 980px) {
    header h1 {
        font-size: 50px;
    }
    header nav ul {
        margin-right: 20px;
    }
    .container-section {
        height: 100%;
      margin:0px 130px;
   }
  }
  
  /* MEDIA QUERY FOR TABLETS AND SMALLER */
  @media screen and (max-width: 768px) {
    header {
        margin: 10px 0;
        align-items: center;
        justify-content: center;
        margin-bottom: 0;
      }
      header nav ul {
          margin-right: 0;
      }
      .container-section {
          height: 100%;
        margin:0px 130px;
     }
  }  
  
  /* MEDIA QUERY FOR MOBILE PHONES AND SMALLER */
  @media screen and (max-width: 575px) {
      header {
        margin: 10px 0;
        align-items: center;
        justify-content: center;
        margin-bottom: 0;
      }

      header h1 {
        font-size: 55px;
      }

      .container-section {
        margin:30px;
     }

      .login {
          justify-content: center;
          display: none;
      }

      .slogan-div {
          margin-top: 0;
      }
      .slogan {
          font-size: 40px;
      }
      .slogan2 {
          font-size: 40px;
      }
    }

    @media screen and (max-width: 505px) {
        header nav ul {
            margin: 0;
            width: 100vw;
            text-align: center;
            margin-left: 10px;
        }
  
        header nav ul li {
          margin: 5px;
        }
  
        header nav ul li a {
          font-size: 12px;
          width: 70px;
        }

        .container-section {
            margin-top:60px;
         }
    }

    /* MEDIA QUERY FOR MOBILE PHONES AND SMALLER */
    @media screen and (max-width: 420px) {
      header {
        align-items: center;
        justify-content: center;
        margin-bottom: 0;
        margin: 10px 0;
      }
      header h1 {
        font-size: 45px;
      }

      header nav ul {
          margin: 0;
      }

      header nav ul li {
        margin: 10px;
      }

      header nav ul li a {
 
        font-size: 12px;
        width: 40px;
      }

      .container-section {
         margin:40px;
      }

      .slogan-div {
        margin: 0;
    }
    h3 {
        margin: 0;
        padding: 0;
    }
    .slogan {
        font-size: 40px;
    }
    .slogan2 {
        font-size: 40px;
    }
    
}